# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.env
.venv/
env/
venv/
*.egg-info/
dist/
build/

# VSCode
.vscode/

# Logs, screenshots, and outputs
logs/
log/
screenshot/
screenshots/
*.log
*.png

# Environment files
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Backup files
backup/